.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: inline-block;
  margin: auto 10px;
}

.headerMenu {
  margin: 0;
  padding: 0 20px;
}

.headerMenu li {
  color: white;
  display: inline-block;
  margin: 0 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #0e6b0e;
}
